html, body {
    font-family: Trebuchet MS, Trebuchet, Arial, sans-serif;
    font-size: 14px;
}

/* Menu */
#menu{
    border:3px solid blue;
    text-align: center;
    width:30%;
    position: absolute;
    top: 30%;
    left: 35%;
}

#difficulty{
    margin-top: 5%;
}

#difficulty > a div.btn{
    width: 20%;
}

#highscores{
    width: 70%;
    margin: 3% auto;
}

/* Game */
.board, nav{
    width:90%;
    margin: 0 auto;
}

.statistics{
    width:45%;
    margin: 2% auto;
}

#play-again-btn, #menu-btn{
    width: 25%;
    padding: 8px;
    border-radius: 3px;
    background-color: #00C853;
    text-align: center;
    color: white;
    cursor: pointer;
    display: inline-block;
    margin-left: 2%;
    margin-right: 2%;
}

header{
    text-align: center;
    font-weight: bold;
    margin-top: 5%;
}

.board > div.row{
    width:45%;
    margin: 0 auto;
}
#moves, #result {
    width: 15%;
    display: inline-block;
}

#moves {
    text-align: right;
}

.card, .card-checked{
    display: inline-block;
    margin: 1%;
    border: 1px solid black;
    box-shadow: 3px 3px 5px grey;
    cursor: pointer;
    width: 75px;
    height: 112px;

}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
    #difficulty > a div.btn{
        width: 25%;
    }

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    #menu {
        width: 40%;
        position: absolute;
        left: 30%;
    }
    #difficulty > a div.btn{
        width: 25%;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    #menu {
        width: 60%;
        position: absolute;
        left: 20%;
    }


}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    #menu{
        width: 80%;
        position: absolute;
        top: 10%;
        left: 10%;
    }

    #highscores, #difficulty > a div.btn{
        display: block;
        margin: 10px auto;
        width: 60%;
    }
}
